<div id="dom-challenge">
  <h1><span>DOMMMM <span class="medium">DOM</span> <span class="big">DOM</span> DOM <span class="biggest">DOMMMMMMM</span></h2>
  <!-- DOM Challenge -->
  <!-- Put the following elements in the correct order. -->

  <div id="qux" class="metasyntactic"></div>
  <div id="bar" class="metasyntactic"></div>
  <div id="baz" class="metasyntactic"></div>
  <div id="foo" class="metasyntactic"></div>
</div>
