<div>
  <p>
    Nice work!
  </p>

  <p>
    For your next challenge, you must bypass the security of this page:
    <%= link_to secrets_url, secrets_url %>
  </p>

  <p>
    Provided below is the source code of the web application:
    <%= link_to 'https://github.com/spencer1248/spawncamping-octo-computing-machine', 'https://github.com/spencer1248/spawncamping-octo-computing-machine', target: '_blank' %>
  </p>

  <p>
    Read the README.md file for more information!
  </p>

  <p>
    Good luck!
  </p>
</div>
