<!DOCTYPE html>
<html>
<head>
  <title>VFA Tech Challenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style type="text/css" media="all">
    background-color: #CCFFFF;
    color: yellow;
  </style>
</head>
<body>

  <%= yield %>

</body>
</html>
